/* high resolution pc */
@media (min-width: 1200px) {
   .banner__img {
      width: 80%;
   }

   .banner__button-span {
      max-width: 260px;
   }
}

/* tablet pro & low resolution pc */
@media (min-width: 992px) and (max-width: 1199px) {
   .brokers__list {
      row-gap: 80px;
   }

   .brokers__content {
      padding: 0 32px;
   }

   .choose-us__list,
   .introduce__list {
      margin-top: 64px;
   }

   .choose-us__item {
      min-height: 440px;
      padding: 24px;
   }

   .introduce__item {
      min-height: 456px;
      padding: 24px;
   }

   .footer__container {
      grid-template-columns: repeat(4, 1fr);
      -ms-grid-columns: 1fr 1fr 1fr 1fr;
      gap: 56px 12px;
   }

   .footer__list {
      margin-top: 24px;
   }

   .footer__link {
      padding: 4px 0;
   }
}

/* tablet mini */
@media (min-width: 768px) and (max-width: 991px) {
   .footer__container {
      grid-template-columns: repeat(3, 1fr);
      -ms-grid-columns: 1fr 1fr 1fr;
      gap: 56px 12px;
   }

   .footer__list {
      margin-top: 24px;
   }

   .footer__link {
      padding: 4px 0;
   }
}

/* phone & high resolution phone */
@media (max-width: 767px) {
   .header__nav {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      max-height: 100vh;
      background-color: #fff;
      padding: 80px 24px 160px;
      animation: slideIn 0.22s ease-out;
      will-change: transform, opacity;
   }

   .header__nav.slide-out {
      animation: slideOut 0.22s ease-out;
   }

   @keyframes slideIn {
      from {
         transform: translateX(100%);
         opacity: 0;
      }
      to {
         transform: translateX(0);
         opacity: 1;
      }
   }

   @keyframes slideOut {
      to {
         transform: translateX(100%);
         opacity: 0.68;
      }
   }

   .nav__logo {
      display: inline-block;
      height: 24px;
      position: absolute;
      top: 24px;
      left: 24px;
   }

   .nav__close-btn {
      display: inline;
      font-size: 24px;
      position: absolute;
      top: 24px;
      right: 24px;
   }

   .nav__list {
      flex-direction: column;
      gap: unset;
   }

   .nav__item {
      padding: 24px 0;
      border-bottom: 1px solid var(--border-color);
      min-height: 70px;
      z-index: 1;
   }

   .nav__icon {
      font-size: 14px;
      position: absolute;
      right: 0;
      top: calc(70px / 2);
      padding: 12px;
      margin-right: -12px;
      transform: translateY(-50%) rotate(270deg);
      -webkit-transform: translateY(-50%) rotate(270deg);
      -moz-transform: translateY(-50%) rotate(270deg);
      -ms-transform: translateY(-50%) rotate(270deg);
      -o-transform: translateY(-50%) rotate(270deg);
   }

   .header:not(.header--fixed) .nav__item.hovered .nav__title,
   .nav__item.hovered .nav__title {
      color: var(--primary-color);
      border-bottom: none;
   }

   .header:not(.header--fixed) .nav__item.hovered .nav__icon,
   .nav__item.hovered .nav__icon {
      color: var(--primary-color);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
      top: 16px;
   }

   .nav__item.hovered .nav__dropdown {
      display: block;
   }

   .header:not(.header--fixed) .nav__title,
   .header:not(.header--fixed) .nav__icon {
      color: var(--title-color);
   }

   .nav__title {
      font-weight: 500;
   }

   .nav__dropdown {
      position: unset;
      background-color: unset;
      box-shadow: none;
      border-radius: unset;
      overflow: unset;
   }

   .nav__box {
      min-width: unset;
      border-right: none;
      padding: 0;
   }

   .nav__box-title {
      color: var(--text-color);
      padding: 24px 24px 12px;
   }

   .nav__box-icon {
      font-size: 20px;
   }

   .nav__box-name {
      font-size: 16px;
   }

   .nav__box-item {
      padding: 12px 32px 12px 60px;
      font-size: 16px;
   }

   .footer {
      padding: 64px 0 32px;
   }

   .footer__section {
      padding-left: 12px;
   }

   .footer__section:last-child {
      padding-left: 0;
   }

   .footer__container {
      grid-template-columns: repeat(2, 1fr);
      -ms-grid-columns: 1fr 1fr;
      gap: 48px 24px;
   }

   .footer__list {
      margin-top: 16px;
   }

   .footer__link {
      padding: 2px 0;
   }
}

/* < tablet pro & low resolution pc */
@media (max-width: 991px) {
   :root {
      --header-height: 80px;
   }

   .header--fixed {
      --header-height: 64px;
   }

   .header-logo__img {
      height: 24px;
   }

   .section-container {
      text-align: center;
      padding: 48px 0 64px;
   }

   .banner.section-container {
      padding: 0px 0 64px;
   }
}

@media (max-height: 600px) {
   :root,
   .header--fixed {
      --header-height: 64px;
   }

   .banner.section-container {
      padding: 0px 0 80px;
   }
}
