/* 
Breakpoints:
1. high resolution pc: (min-width: 1200px)
2. tablet pro & low resolution pc: (min-width: 992px) and (max-width: 1199px)
3. tablet: (min-width: 768px) and (max-width: 991px)
4. tablet mini: (min-width: 576px) and (max-width: 767px)
5. phone: (min-width: 390px) and (max-width: 575px)
6. low resolution phone: (max-width: 389px)
*/

/* 1. BASE */
/* high resolution pc */
@media (min-width: 1200px) {
   .banner__img {
      width: 80%;
   }

   .banner__button-span {
      max-width: 260px;
   }
}

/* phone & all tablets & low resolution pc */
@media (max-width: 1199px) {
   .brokers__list {
      text-align: initial;
   }

   .brokers__item {
      padding: 32px 24px 32px 32px;
   }

   .brokers__link {
      left: 20px;
      transform: unset;
   }

   .brokers__content {
      padding: 0;
      min-height: 96px;
   }

   .choose-us__list,
   .introduce__list {
      margin-top: 64px;
   }

   .choose-us__item {
      min-height: 440px;
      padding: 24px;
   }

   .introduce__item {
      min-height: 456px;
      padding: 24px;
   }

   .footer__container {
      grid-template-columns: repeat(4, 1fr);
      -ms-grid-columns: 1fr 1fr 1fr 1fr;
      gap: 56px 12px;
   }

   .footer__list {
      margin-top: 24px;
   }

   .footer__link {
      padding: 4px 0;
   }
}

/* phone & tablet mini & tablet */
@media (max-width: 991px) {
   :root {
      --header-height: 80px;
   }

   .header--fixed {
      --header-height: 64px;
   }

   .header-logo__img {
      height: 24px;
   }

   .banner.section-container {
      padding-top: 32px;
      padding-bottom: 64px;
   }

   .banner .section-title {
      font-size: 44px;
      line-height: 1.2;
   }

   .banner .section-description {
      line-height: 1.56;
   }

   .brokers__list {
      row-gap: 80px;
   }

   .brokers__logo {
      height: 36px;
   }

   .brokers__item.huobi .brokers__logo {
      transform: translateY(-4px);
   }

   .brokers__item.fbs .brokers__logo {
      height: 72px;
      transform: translateY(-6px);
   }

   .brokers__content {
      min-height: 70px;
   }

   .footer__container {
      grid-template-columns: repeat(3, 1fr);
      -ms-grid-columns: 1fr 1fr 1fr;
   }
}

/* phone & tablet mini */
@media (max-width: 767px) {
   .header,
   .banner,
   .brokers,
   .choose-us,
   .introduce,
   .footer {
      padding-left: 24px;
      padding-right: 24px;
   }

   .header__nav {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      max-height: 100vh;
      background-color: #fff;
      padding: 80px 24px 160px;
      animation: slideIn 0.22s ease-out;
      will-change: transform, opacity;
   }

   .header__nav.slide-out {
      animation: slideOut 0.22s ease-out;
   }

   @keyframes slideIn {
      from {
         transform: translateX(100%);
         opacity: 0;
      }
      to {
         transform: translateX(0);
         opacity: 1;
      }
   }

   @keyframes slideOut {
      to {
         transform: translateX(100%);
         opacity: 0.68;
      }
   }

   .nav__logo {
      display: inline-block;
      height: 24px;
      position: absolute;
      top: 24px;
      left: 24px;
   }

   .nav__close-btn {
      display: inline;
      font-size: 24px;
      position: absolute;
      top: 24px;
      right: 24px;
   }

   .nav__list {
      flex-direction: column;
      gap: unset;
   }

   .nav__item {
      padding: 24px 0;
      border-bottom: 1px solid var(--border-color);
      min-height: 70px;
      z-index: 1;
   }

   .nav__icon {
      font-size: 14px;
      position: absolute;
      right: 0;
      top: calc(70px / 2);
      padding: 12px;
      margin-right: -12px;
      transform: translateY(-50%) rotate(270deg);
      -webkit-transform: translateY(-50%) rotate(270deg);
      -moz-transform: translateY(-50%) rotate(270deg);
      -ms-transform: translateY(-50%) rotate(270deg);
      -o-transform: translateY(-50%) rotate(270deg);
   }

   .header:not(.header--fixed) .nav__item.hovered .nav__title,
   .nav__item.hovered .nav__title {
      color: var(--primary-color);
      border-bottom: none;
   }

   .header:not(.header--fixed) .nav__item.hovered .nav__icon,
   .nav__item.hovered .nav__icon {
      color: var(--primary-color);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
      top: 16px;
   }

   .nav__item.hovered .nav__dropdown {
      display: block;
   }

   .header:not(.header--fixed) .nav__title,
   .header:not(.header--fixed) .nav__icon {
      color: var(--title-color);
   }

   .nav__title {
      font-weight: 500;
   }

   .nav__dropdown {
      position: unset;
      background-color: unset;
      box-shadow: none;
      border-radius: unset;
      overflow: unset;
   }

   .nav__box {
      min-width: unset;
      border-right: none;
      padding: 0;
   }

   .nav__box-title {
      color: var(--text-color);
      padding: 24px 24px 12px;
   }

   .nav__box-icon {
      font-size: 20px;
   }

   .nav__box-name {
      font-size: 16px;
   }

   .nav__box-item {
      padding: 12px 32px 12px 60px;
      font-size: 16px;
   }

   .banner.section-container {
      padding-top: 24px;
      padding-bottom: 48px;
   }

   .banner .section-title {
      line-height: 1.18;
   }

   .banner .section-description {
      line-height: 1.54;
   }

   .banner__img {
      width: 80%;
   }

   .banner__bg-img {
      margin-top: 32px;
   }

   .brokers__list {
      margin-top: 64px;
      row-gap: 72px;
   }

   .brokers .section-subtitle {
      margin: 16px 0 16px;
   }

   .brokers__item {
      padding: 32px 64px 32px 48px;
      min-height: unset;
   }

   .brokers__link {
      left: 36px;
   }

   .brokers__content {
      min-height: 56px;
   }

   .footer {
      padding-top: 64px;
      padding-bottom: 32px;
   }

   .footer__section:last-child {
      padding-left: 0;
   }

   .footer__container {
      grid-template-columns: repeat(2, 1fr);
      -ms-grid-columns: 1fr 1fr;
      gap: 48px 24px;
   }

   .footer__list {
      margin-top: 16px;
   }

   .footer__link {
      padding: 2px 0;
   }
}

@media (max-width: 575px) {
   .header,
   .banner,
   .brokers,
   .choose-us,
   .introduce,
   .footer {
      padding-left: 16px;
      padding-right: 16px;
   }

   .banner.section-container {
      padding-top: 16px;
      padding-bottom: 32px;
   }

   .banner .section-title {
      font-size: 40px;
      line-height: 1.16;
   }

   .banner .section-description {
      line-height: 1.52;
   }

   .banner__img {
      width: 75%;
   }

   .banner__nav {
      padding-top: 32px;
   }

   .brokers .section-subtitle {
      margin: 24px 0 16px;
   }

   .brokers__item {
      padding: 32px 48px;
   }
}

/* low resolution phone */
@media (max-width: 389px) {
   .header,
   .banner,
   .brokers,
   .choose-us,
   .introduce,
   .footer {
      padding-left: 8px;
      padding-right: 8px;
   }

   .banner .section-title {
      font-size: 36px;
      line-height: 1.16;
   }

   .banner .section-description {
      line-height: 1.48;
   }

   .banner__img {
      width: 70%;
   }

   .banner__nav {
      padding-top: 24px;
   }
}

/* custom header & banner */
@media (max-height: 600px), (max-width: 389px) {
   :root,
   .header--fixed {
      --header-height: 64px !important;
   }

   .banner.section-container {
      padding-top: 4px !important;
      padding-bottom: 32px !important;
   }
}

/* 2. CUSTOM */
/* tablet pro & low resolution pc */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
}

/* tablet mini */
@media (min-width: 576px) and (max-width: 767px) {
}

/* phone */
@media (min-width: 390px) and (max-width: 575px) {
}
