/* Header: begin */
.header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 999;
   width: 100%;
   background-color: #303030;
   -webkit-transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
   transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
}

.header:not(.header--fixed) .nav__title,
.header:not(.header--fixed) .nav__icon {
   color: #fff;
}

.header:not(.header--fixed) .nav__item.hovered .nav__title {
   color: #fff;
   border-bottom: 2px solid #fff;
}

.header:not(.header--fixed) .nav__item.hovered .nav__icon {
   color: #fff;
}

.header--fixed {
   --header-height: 80px;
   background-color: #fff;
   color: #000;
}

.header__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   height: var(--header-height);
   -webkit-transition: height 0.22s ease-out;
   transition: height 0.22s ease-out;
}

.header-logo {
   display: flex;
   align-items: center;
}

.header-logo__img {
   display: block;
   height: 30px;
}

.header__btn {
   font-size: 24px;
   color: #fff;
   -webkit-transition: color 0.22s ease-out;
   transition: color 0.22s ease-out;
   position: absolute;
   top: 50%;
   right: calc(var(--bs-gutter-x) / 2);
   transform: translateY(-50%);
}

.header--fixed .header__btn {
   color: #000;
}

.nav__item.hovered .nav__title {
   color: var(--primary-color);
   border-bottom: 2px solid var(--primary-color);
}

.nav__item.hovered .nav__icon {
   color: var(--primary-color);
   -webkit-transform: rotate(180deg);
   -moz-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
   -o-transform: rotate(180deg);
   transform: rotate(180deg);
}

.nav__item.hovered .nav__dropdown {
   display: flex;
}

.nav__list {
   display: flex;
   gap: 32px;
}

.nav__item {
   cursor: pointer;
   position: relative;
   padding: 12px 0;
}

.nav__title {
   color: var(--title-color);
   padding: 12px 0;
   font-size: 18px;
   border-bottom: none;
   user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

.nav__icon {
   font-size: 12px;
   color: var(--title-color);
   margin-left: 2px;
   transition: transform ease-out 0.18s, top ease-in 0.18s;
   -webkit-transition: transform ease-out 0.18s, top ease-in 0.18s;
   -moz-transition: transform ease-out 0.18s, top ease-in 0.18s;
   -o-transition: transform ease-out 0.18s, top ease-in 0.18s;
}

.nav__dropdown {
   position: absolute;
   top: 46px;
   right: 0;
   background-color: #fff;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.14);
   border-radius: 4px;
   overflow: hidden;
   display: none;
   transition: top 0.2s ease-out;
   -webkit-transition: top 0.2s ease-out;
}

/* .nav__dropdown::before {
   content: "";
   width: 110px;
   height: 28px;
   position: absolute;
   top: -28px;
   right: 12px; */
/* background-color: red; */
/* } */

.nav__box {
   padding: 12px 0;
   min-width: 260px;
   border-right: 1px solid var(--border-color);
}

.nav__box:last-child {
   border-right: none;
}

.nav__box-title {
   color: var(--title-color);
   display: block;
   padding: 16px 24px;
   cursor: default;
}

.nav__box-icon {
   font-size: 24px;
   margin-right: 8px;
}

.nav__box-name {
   font-size: 18px;
   font-weight: 500;
   display: inline-block;
   margin: 0;
}

.nav__box-item {
   padding: 16px 32px 16px 60px;
   font-size: 18px;
}

.nav__box-link {
   color: var(--text-color);
   text-decoration: none;
   display: block;
}

.nav__box-item:hover .nav__box-link {
   color: var(--primary-color);
   cursor: pointer;
}
/* Header: end */

/* Banner: begin */
.banner {
   margin-top: var(--header-height);
   background-color: #303030;
}

.banner.section-container {
   text-align: initial;
   padding: 64px 0 96px;
}

.banner .section-title {
   color: #fff;
   font-weight: 500;
   font-size: 48px;
   line-height: 1.3;
   word-spacing: -1px;
   letter-spacing: -0.2px;
}

.banner .section-description {
   color: #fff;
   font-size: 18px;
   font-weight: 300;
   line-height: 1.6;
   margin-top: 48px;
}

.banner__container {
   display: flex;
   justify-content: flex-start;
}

.banner__content {
   flex: 1;
}

.banner__nav {
   padding-top: 48px;
}

.banner__button {
   text-decoration: none;
}

.banner__button-span {
   font-size: 18px;
   color: #fff;
   border: 2px solid #fff;
   border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 60px;
   -webkit-transition: background-color 0.12s ease-in, color 0.12s ease-in;
   transition: background-color 0.12s ease-in, color 0.12s ease-in;
}

.banner__button-span:hover {
   color: #303030;
   background-color: #fff;
}

.banner__button-span.active {
   color: #ffce00;
   border: 2px solid #ffce00;
}

.banner__button-span.active:hover {
   color: #303030;
   background-color: #ffce00;
}

.banner__bg-img {
   flex: 1;
   border-radius: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.banner__img {
   width: 100%;
}
/* Banner: end */

/* Brokers: begin */
.brokers {
   border-bottom: 1px solid var(--border-color);
}

.brokers__list {
   margin-top: 64px;
   display: flex;
   justify-content: center;
   align-items: baseline;
   row-gap: 96px;
}

.brokers__link {
   color: var(--text-color);
   text-decoration: none;
}

.brokers__logo {
   width: 180px;
   height: 50px;
   max-width: 100%;
}

.brokers__logo.fbs {
   height: 90px;
   /* margin-left: -45px; */
}

.brokers__content {
   color: var(--text-color-lighter);
   min-height: 72px;
   padding: 0 48px;
}
/* Brokers: end */

/* Choose-us: begin */
.choose-us {
   border-bottom: 1px solid var(--border-color);
}

.choose-us__list,
.introduce__list {
   margin-top: 72px;
   display: flex;
   justify-content: center;
   align-items: baseline;
}

.choose-us__item {
   min-height: 400px;
   padding: 32px;
   border-radius: 4px;
   background-color: #fff;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.32);
}

.choose-us__description {
   color: var(--text-color-lighter);
   margin-top: 32px;
}
/* Choose-us: end */

/* Introduce: begin */
.introduce__item {
   min-height: 430px;
   padding: 32px;
   border-radius: 4px;
   background-color: #fff;
   box-shadow: 0 4px 3px 0 rgba(34, 90, 182, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.3);
}
/* Introduce: end */

/* Footer: begin */
.footer {
   text-align: initial;
   border-bottom: none;
   padding: 80px 0 64px;
   background-color: #f3f1ee;
}

.footer__container {
   display: grid;
   display: -ms-grid;
   grid-template-columns: repeat(5, 1fr);
   -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
   gap: 64px 32px;
   align-items: baseline;
}

.footer__logo {
   height: 20px;
}

.footer__title {
   font-size: 16px;
   font-weight: 500;
   word-spacing: -1px;
   margin: 0;
   display: inline-block;
   cursor: default;
}

.footer__list {
   display: flex;
   flex-direction: column;
   gap: 12px;
   margin-top: 48px;
}

.footer__link {
   font-size: 16px;
   font-weight: 300;
   color: var(--text-color-lighter);
   text-decoration: none;
   word-spacing: -1px;
   display: inline-block;
   padding: 8px 0;
}

.footer__item {
   font-size: 16px;
   font-weight: 300;
   color: var(--text-color-lighter);
   word-spacing: -1px;
   cursor: default;
}

.footer__item:hover .footer__link,
.footer__link:hover {
   color: var(--primary-color);
}

#disclaimer {
   grid-column: 1 / -1;
   font-size: 14px;
   font-weight: 300;
   font-style: italic;
   color: #a3a3a3;
   word-spacing: -1px;
   text-align: center;
   padding: 0 48px;
}
/* Footer: end */
